<h1>Object Model: <%= @object_model.name %></h1>
<p>
  <%= pluralize(@object_model.items.count, 'item is', 'items are') %>
  associated with this Object Model.
</p>
<%= 
  link_to 'Associated items', object_model_items_path(@object_model), class: 'btn btn-info' 
%>

<% @object_model.properties.group_by(&:datastream).each do |datastream, properties| %>
<h2>Datastream: <%= datastream %></h2>
<%   properties.each do |property| %>
<p>
  property :<%= property.name %>, 
  predicate: ::RDF::<%= property.namespace.try(:upcase) %>.<%= property.name %>, 
  multiple: <%= property.multiple? %>
</p>
<%   end %>
<% end %>
