<h1>Object Model: <%= @object_model.name %></h1>

<% @object_model.properties.each do |property| %>
<p>
  property :<%= property.name %>, 
  predicate: ::RDF::<%= property.namespace.try(:upcase) %>.<%= property.name %>, 
  multiple: <%= property.multiple? %>,
  datastream: <%= property.datastream %>
</p>
<% end %>

<%= link_to 'Items belonging to this object model', object_model_items_path(@object_model) %>