<h1>Item: <%= @item.identifier %></h1>

<%= link_to('Data source', @item.source_url, class: 'btn btn-info') if @item.source_url? %>

<h2>Object Type</h2>
<p class="lead">
  <%= link_to @item.object_model_name, @item.object_model %>
</p>

<h2>Property Values</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Value<th>
  </tr>
<% @item.property_values.each do |property_value| %>
  <tr>
    <td><%= property_value.name %></td>
    <td><%= property_value.value %></td>
  </tr>
<% end %>
</table>
