<h1>Items <%= @item.identifier %></h1>

<h2>Property Values</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Value<th>
  </tr>
<% @item.property_values.each do |property_value| %>
  <tr>
    <td><%= property_value.name %></td>
    <td><%= property_value.value %></td>
  </tr>
<% end %>
</table>

<h2>Object Type: <%= @item.object_model_name %></h2>
<% @item.properties.each do |property| %>
<p>
  property :<%= property.name %>, 
  predicate: ::RDF::DC.title, 
  multiple: <%= property.multiple? %>
</p>
<% end %>
