<h1>Item: <%= @item.identifier %></h1>

<%= link_to('Data source', @item.source_url, class: 'btn btn-info') if @item.source_url? %>

<h2>Object Type</h2>
<p class="lead">
  <%= link_to @item.object_model_name, @item.object_model %>
</p>

<h2>Object Properties</h2>
<table class="table">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Value</th>
    <th>Full name</th>
  </tr>
<% @item.object_properties.each do |object_properties| %>
  <tr>
    <td><%= object_properties.property_type %></td>
    <td><%= object_properties.short_name %></td>
    <td><%= object_properties.value %></td>
    <td><%= object_properties.name %></td>
  </tr>
<% end %>
</table>

<% @item.property_values.group_by(&:datastream).each do |datastream, property_values| %>
<h2>Datastream: <%= datastream  %></h2>
<table class="table">
  <tr>
    <th>Namespace:Name</th>
    <th>Value<th>
  </tr>
<%   property_values.each do |property_value| %>
  <tr>
    <td>
      <%= property_value.namespace %>:<%= property_value.name %>
    </td>
    <td><%= property_value.value %></td>
  </tr>
<%   end %>
</table>
<% end %>

<h2>External Datastreams</h2>
<p>This item also has data stored in the following external datastreams:</p>
<ul>
<% @item.external_datastreams.each do |external_datastream| %>
  <li><%= external_datastream %></li>
<% end %>
</ul>
