<!DOCTYPE html>
<html lang="en">
<head>
  <title>MigrateFedora3To4</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= active_if_index_for? 'object_models' %>">
        <%= link_to 'Object Models', root_path %>
      </li>
      <li role="presentation" class="<%= active_if_index_for? 'items' %>">
        <%= link_to 'Items', items_path %>
      </li>
    </ul>
    
    <%= yield %>
  </div>

</body>
</html>
